<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = ""
        xmlns:gap   = ""
        id          = "pingpong001"
        versionCode = "002" 
        version     = "0.0.2" >

    <!-- versionCode is optional and Android only -->

    <name>Ping-Pong</name>

    <description>
        Ping Pong 
    </description>

    <author href="" email="nullbyte001@gmail.com">
        Warren Hood
    </author>
	<preference name="DisallowOverscroll" value="true" />
 <preference name="orientation" value="landscape" />
  <preference name="fullscreen" value="true" />
  <preference name='uiwebviewbounce' value='false' />
  <splash src='splash.png' height='200' width='320'/>
  <icon src='icon.png' height='50' width='50'/>
<plugin name="cordova-plugin-gyroscope" spec="1.0.1" source="pgb" /></widget>
